* {
  padding: 0;
  margin: 0;
  font-family: 'Sriracha', cursive;
}

::-webkit-scrollbar { width: 15px; }

::-webkit-scrollbar-track {
  background-color: #0089c9;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #000;
}