@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import '~antd/dist/antd.css';

* {
  font-family: 'Sriracha', cursive;
}

img {
  width: 100%;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.tag-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1px;
  border: 1px solid rgb(255, 255, 255);
  transition: color 2s, background-color 2s;
}

.date {
  border: 1px solid #000;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}